@model Calisma.Model.Ogrenci
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detay</h2>

<table class="table">
    <tbody>
        <tr>
            <td>Adı</td>
            <td>@Model.Ad</td>
        </tr>
        <tr>
            <td>Soyadı</td>
            <td>@Model.Soyad</td>
        </tr>
    </tbody>
</table>